  name: backend CI

  on:
    pull_request:
      branches:
        - 'develop'
      types:
        - opened
        - synchronize
        - reopened
        - edited
  jobs:
    build:
      runs-on: ubuntu-latest

      steps:
        - name: Repository checkout
          uses: actions/checkout@v4

        - name: Setup java 21
          uses: actions/setup-java@v4
          with:
            distribution: 'temurin'
            java-version: '21'

        - name: Cache gradle
          uses: actions/cache@v3
          with:
            path: |
              ~/.gradle/caches
              ~/.gradle/wrapper
            key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
            restore-keys: |
              ${{ runner.os }}-gradle-

        - name: Grant permission to gradlew
          run: chmod +x gradlew

        - name: Build and test with gradle
          run: ./gradlew build --info

        - name: Publish test results
          uses: EnricoMi/publish-unit-test-result-action@v2
          if: always()
          with:
            files: ${{ github.workspace }}/build/test-results/test/TEST-*.xml

        - name: Publish test report
          uses: mikepenz/action-junit-report@v4
          if: always()
          with:
            report_paths: ${{ github.workspace }}/build/test-results/test/TEST-*.xml
